*.idea/
*.log
*.pot
*.pyc
**.pyc
**/**/*.pyc
__pycache__/
**/**/__pycache__/
**/**/*.cpython-35.pyc
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/
**/**/media/
**/**/migrations/
static/
api/__pycache__/
reclamos_api/__pycache__/
api/__pycache__/models.cpython-35.pyc
api/__pycache__/serializers.cpython-35.pyc
api/__pycache__/views.cpython-35.pyc
reclamos_api/__pycache__/settings.cpython-35.pyc
reclamos_api/__pycache__/urls.cpython-35.pyc