{% extends 'base.html' %}
{% load static %}
{% block 'body' %}
    <div class="content custom-scrollbar">

        <div id="e-commerce-orders" class="page-layout carded full-width">

            <div class="top-bg bg-primary"></div>

            <!-- CONTENT -->
            <div class="page-content-wrapper">

                <!-- HEADER -->
                <div class="page-header light-fg row no-gutters align-items-center justify-content-between">

                    <!-- APP TITLE -->
                    <div class="col-12 col-sm">

                        <div class="logo row no-gutters justify-content-center align-items-start justify-content-sm-start">

                            <div class="logo-icon mr-3 mt-1">
                                <i class="icon-checkbox-marked s-6"></i>
                            </div>

                            <div class="logo-text">
                                <div class="h4">Reclamos</div>
                                <div class="">Total Reclamos: 20</div>
                            </div>

                        </div>
                    </div>
                    <!-- / APP TITLE -->

                    <!-- SEARCH -->
                    <div class="col search-wrapper pl-2">

                        <div class="input-group">

                            <span class="input-group-btn">
                                <button type="button" class="btn btn-icon">
                                    <i class="icon icon-magnify"></i>
                                </button>
                            </span>

                            <input id="orders-search-input" type="text" class="form-control" placeholder="Search" aria-label="Search" />

                        </div>
                    </div>
                    <!-- / SEARCH -->
                </div>
                <!-- / HEADER -->

                <div class="page-content-card">

                    <table id="e-commerce-orders-table" class="table dataTable">

                        <thead>

                            <tr>

                                <th>
                                    <div class="table-header">
                                        <span class="column-title">ID</span>
                                    </div>
                                </th>

                                <th>
                                    <div class="table-header">
                                        <span class="column-title">Categoria</span>
                                    </div>
                                </th>

                                <th>
                                    <div class="table-header">
                                        <span class="column-title">Subcategoria</span>
                                    </div>
                                </th>

                                <th>
                                    <div class="table-header">
                                        <span class="column-title">Direccion</span>
                                    </div>
                                </th>

                                <th>
                                    <div class="table-header">
                                        <span class="column-title">Estado</span>
                                    </div>
                                </th>

                                <th>
                                    <div class="table-header">
                                        <span class="column-title">Fecha</span>
                                    </div>
                                </th>

                                <th>
                                    <div class="table-header">
                                        <span class="column-title">Actiones</span>
                                    </div>
                                </th>

                            </tr>
                        </thead>

                        <tbody>
                            {% for reclamo in reclamos %}
                              <tr>
                                  <td>{{ reclamo.id }}</td>
                                  <td>{{ reclamo.subcategoria }}</td>
                                  <td>{{ reclamo.subcategoria.categoria }}</td>
                                  <td>{{ reclamo.calle }} {{ reclamo.numero }}</td>
                                  <td>
                                      <span class='badge badge-info'>{{ reclamo.get_estado_display }}</span>
                                  </td>
                                  <td class="date">{{ reclamo.created_at }}</td>
                                  <td>
                                      <button type="button" class="btn btn-icon" aria-label="Product details" onclick="window.location.href='{% url 'editar-reclamo' reclamo.id %}'">
                                          <i class="icon icon-pencil s-4 s-4"></i>
                                      </button>
                                  </td>
                              </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- / CONTENT -->
        </div>
        <script type="text/javascript">
          $('#e-commerce-orders-table').DataTable({
              responsive: true,
              dom       : 'rt<"dataTables_footer"ip>'
          });
        </script>
        <!--<script type="text/javascript" src="{% static 'js/orders.js' %}"></script>-->

    </div>
{% endblock 'body' %}
